In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sawer=pd.read_csv('SawerData.csv',index_col=[0],parse_dates=True,squeeze=True)

In [3]:
sawer.head()

,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Arrival/Quintol
Date,,,,,,,,
2017-01-04,Sanwer,Soyabean,Yellow,FAQ,2700,3005,2839,2133.7
2017-01-06,Sanwer,Soyabean,Yellow,FAQ,2700,3000,2950,2133.7
2017-01-07,Sanwer,Soyabean,Yellow,FAQ,2730,2996,2850,2133.7
2017-01-09,Sanwer,Soyabean,Yellow,FAQ,2681,2903,2825,2133.7
2017-01-10,Sanwer,Soyabean,Yellow,FAQ,2675,2888,2775,2133.7

In [4]:
type(sawer)

pandas.core.frame.DataFrame

In [5]:
sawer.drop(['Commodity', 'Variety','Variety','Grade','Min Price (Rs./Quintal)','Max Price (Rs./Quintal)'], axis = 1,inplace=True)

In [6]:
sawer

           Market Name  Modal Price (Rs./Quintal)  Arrival/Quintol
Date
2017-01-04      Sanwer                       2839           2133.7
2017-01-06      Sanwer                       2950           2133.7
2017-01-07      Sanwer                       2850           2133.7
2017-01-09      Sanwer                       2825           2133.7
2017-01-10      Sanwer                       2775           2133.7
2017-01-11      Sanwer                       2870           2133.7
2017-01-12      Sanwer                       2825           2133.7
2017-01-13      Sanwer                       2811           2133.7
2017-01-16      Sanwer                       2803           2133.7
2017-01-17      Sanwer                       2811           2133.7
2017-01-20      Sanwer                       2908           2133.7
2017-01-21      Sanwer                       2840           2133.7
2017-01-23      Sanwer                       2821           2133.7
2017-01-25      Sanwer                       2850           2133.7
2017-01-27      Sanwer                       2825           2133.7
2017-01-28      Sanwer                       2846           2133.7
2017-01-30      Sanwer                       2800           2133.7
2017-01-31      Sanwer                       2850           2133.7
2017-02-01      Sanwer                       2775           1778.1
2017-02-02      Sanwer                       2810           1778.1
2017-02-03      Sanwer                       2825           1778.1
2017-02-04      Sanwer                       2901           1778.1
2017-02-07      Sanwer                       2841           1778.1
2017-02-08      Sanwer                       2845           1778.1
2017-02-09      Sanwer                       2841           1778.1
2017-02-11      Sanwer                       2870           1778.1
2017-02-13      Sanwer                       2800           1778.1
2017-02-14      Sanwer                       2760           1778.1
2017-02-15      Sanwer                       2761           1778.1
2017-02-16      Sanwer                       2760           1778.1
...                ...                        ...              ...
2019-10-23      Sanwer                       3500           3446.7
2019-10-30      Sanwer                       3650           3446.7
2019-10-31      Sanwer                       3555           3446.7
2019-11-01      Sanwer                       3700           4613.6
2019-11-02      Sanwer                       3600           4613.6
2019-11-04      Sanwer                       3916           4613.6
2019-11-05      Sanwer                       3685           4613.6
2019-11-06      Sanwer                       3850           4613.6
2019-11-07      Sanwer                       3850           4613.6
2019-11-08      Sanwer                       3931           4613.6
2019-11-11      Sanwer                       3937           4613.6
2019-11-13      Sanwer                       3775           4613.6
2019-11-14      Sanwer                       3822           4613.6
2019-11-15      Sanwer                       3800           4613.6
2019-11-16      Sanwer                       3868           4613.6
2019-11-18      Sanwer                       3851           4613.6
2019-11-19      Sanwer                       3833           4613.6
2019-11-20      Sanwer                       3800           4613.6
2019-11-21      Sanwer                       3761           4613.6
2019-11-22      Sanwer                       3900           4613.6
2019-11-25      Sanwer                       3850           4613.6
2019-11-27      Sanwer                       3850           4613.6
2019-11-28      Sanwer                       3800           4613.6
2019-11-29      Sanwer                       3800           4613.6
2019-11-30      Sanwer                       3825           4613.6
2019-12-02      Sanwer                       3865           1570.3
2019-12-03      Sanwer                       3820           1570.3
2019-12-04      Sanwer                       3850           1570.3
2019-12-05      Sanwer                       3870           1570.3
2019-12-07      Sanwer                       3800           1570.3

[596 rows x 3 columns]